<div class="pub">
    <h2 class="title">Derniere image</h2>

    <div class="thumbnail">
        <img src="{{ picture.getwebpath|imagine_filter('gallery_index_front') }}" alt="image {{ picture.id }}"/>
    </div>
</div>